body {
    background-color: hsl(210, 46%, 95%);


}
.pclass{
   color: rgb(172, 172, 172);
    margin-top: -25px;
    margin-left: 100px;
}
.pgeniskutu2{
    color: rgb(247, 241, 241,0.7);
}

.geniskutu {
    width: 550px;
    height: 280px;
    background-color: hsl(263, 55%, 52%);
    border-radius: 10px;
    margin-left: 140px;
    margin-top: 100px;
}

.kucukkutu {
    width: 300px;
    height: 280px;
    position: absolute;
    top: 10px;
    left: 590px;
    background-color: hsl(217, 19%, 35%);
    border-radius: 10px;
    margin-left: 140px;
    margin-top: 100px;
}

img {
    width: 35px;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 50%;
    border: 1px solid rgb(216, 206, 206, 0.5)
}

h6 {
    color: hsl(0, 0%, 81%);
    margin-left: 90px;
    margin-top: -30px;
    font-family: 'Anton', sans-serif;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Bree Serif', serif;
    font-family: 'Caprasimo', "cursive";
    font-family: 'Capriola', sans-serif;
    font-family: 'Changa', sans-serif;
    font-family: 'Lobster', "cursive";
    font-family: 'Oswald', sans-serif;
    font-family: 'Outfit', sans-serif;

}

p {
    
    font-size: 10px;
    margin-left: 90px;
    margin-top: -30px;
    font-family: 'Anton', sans-serif;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Bree Serif', serif;
    font-family: 'Caprasimo', "cursive";
    font-family: 'Capriola', sans-serif;
    font-family: 'Changa', sans-serif;
    font-family: 'Lobster', "cursive";
    font-family: 'Oswald', sans-serif;
    font-family: 'Outfit', sans-serif;
}

h4 {
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    font-family: 'Anton', sans-serif;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Bree Serif', serif;
    font-family: 'Caprasimo', "cursive";
    font-family: 'Capriola', sans-serif;
    font-family: 'Changa', sans-serif;
    font-family: 'Lobster', "cursive";
    font-family: 'Oswald', sans-serif;
    font-family: 'Outfit', sans-serif;

}

.uy {
    color: rgba(216, 206, 206, 0);
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 10px;
}

#x {
    color: rgb(216, 206, 206, 0.6);
    margin: auto;
    margin-left: 40px;
    margin-right: 20px;

}

.kucukkutu2 {

    width: 300px;
    height: 280px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    position: absolute;
    top: 320px;
    left: 10px;
    margin-top: 100px;
    margin-left: 140px;


}

.geniskutu2 {
    width: 550px;
    height: 280px;
    background-color: hsl(219, 29%, 14%);
    border-radius: 10px;
    margin-top: 100px;
    position: absolute;
    top: 0px;
    left: 331px;
    margin-top: 5px;

}

.sonkutu {
    width: 350px;
    height: 590px;
    border-radius: 10px;
    background-color: hsl(0, 0%, 100%);
    position: absolute;
    top: -310px;
    right: -380px;
    margin-top: 0px;
    margin-right: -20px;

}

@media screen and (max-width:375px) {
    .sonkutu {

        width: 320px;
        float: left;
        height: 670px;
        position: absolute;
        top: 380px;
        left: 0px;
        
    }

    .geniskutu2 {
        margin-left: auto;
        float: left;
        position: absolute;
        top: 300px;
        left: 0px;
        height: 350px;
        width: 100%
    }

    .kucukkutu2 {
        margin-left: auto;
        position: absolute;
        top: 730px;
        left: 10px;
        float: left;
        width: 323px;

    }

    .kucukkutu {
        font-size: 25px;
        margin-left: auto;
        position: absolute;
        top: 410px;
        left: 10px;
        float: left;
        width: 323px;



    }
    .geniskutu {
        margin-left: auto;
        margin-left: 2px;
        float: left;
        height: 380px;
        width: 320px;
    }
    .pclass{
        margin-top: -40px;
        margin-left: 100px;
    }
    .phclass{
        margin-top: -35px;
    }
}
